.cover__link {
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
}

.cover__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease;
}

.cover__link:hover::before {
  background: #2A2C2F;
  opacity: .8;
}

.cover__link:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .cover__link {
  min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
  min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
  min-height: 200px;

  }
}
