.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
