.cover__title {
  max-width: 560px;
  margin: 0 auto 32px auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin-top: 33px;
    margin-bottom: 16px;
    text-align: center;
  }
}
