.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  background-color: #2A2C2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0 24px 16px;
  }
}
